################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DependencyInjection/FileContentIndex/79ba464b-1d89-417e-a5d6-d5ed9985875e.vsidx
